@model List<Negocio.Web.Models.Entities.TrabajoMarketing>


<section class="py-5 bg-white border-bottom" id="trabajos-reales" style="scroll-margin-top: 70px;">
    <div class="container">
        <div class="text-center mt-3 mb-4">
            <h2 class="display-5 fw-bold text-dark mb-2 d-none d-md-block">NUESTROS PROYECTOS</h2>
            <h3 class="fw-bold text-dark mb-2 d-md-none">NUESTROS PROYECTOS</h3> <div class="mx-auto bg-success" style="width: 80px; height: 3px; border-radius: 2px;"></div>
        </div>

        <div class="swiper">
            <div class="swiper-wrapper">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <div class="swiper-slide">
                            <div class="trabajo-item-card" onclick="abrirModalInteres('@item.Titulo', '@item.ImagenUrl')" style="cursor:pointer;">
                                <div class="trabajo-img-wrapper">
                                    <img src="@item.ImagenUrl" alt="@item.Titulo" class="img-fluid">
                                    <div class="trabajo-overlay"><span>@item.Categoria</span></div>
                                </div>
                                <div class="p-3 text-center">
                                    <h6 class="fw-bold">@item.Titulo</h6>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="swiper-pagination position-relative mt-4"></div>
        </div>
    </div>
</section>